<!DOCTYPE html>
<html lang = "ru">

<head>
    <meta charset = "UTF-8">
    <title> Сеть гостиниц "RELAX" </title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <dev class = "img_logo"><img src = "{{ url_for('static', filename='images/logo.jpg') }}" alt = "logo" width = 50px></dev>
        <dev class = "header_logo">RELAX</dev>
        <nav class = "top_nav" id = "myTopnav">
            <a href = "">ДЛЯ БРОНИРОВАНИЯ ЗВОНИТЕ</a>
            <a href = "">+78005553555</a>
        </nav>
    </header>

    <main>
        <div id = "navigation">
            <h1>Гостиницы</h1>
        </div>
        <div id = "info_filter">
            <h1>Информация о гостинице</h1> 
        </div>
        <div id = "content">
            <h1>Сетка с номерами</h1>
        </div>
        <div id = "clear">

        </div>
    </main>

    <footer>
        <p class = "footer_head">Над проектом работали:</p>
        <p class = "footer_our_name">Айрапетова Евгения 406 группа</p>
        <p class = "footer_our_name">Демена Виктория 406 группа</p>
        <p class = "footer_our_name">Зверев Марк 406 группа</p>
        <p class = "footer_our_name">Стрыгин Денис 406 группа</p>
    </footer>
    <div class = "under_footer"> Проект написан на flask </div>
</body>
<script src = "{{ url_for('static', filename='scripts/client.js') }}"></script>
</html>