@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: #000 url(https://img.freepik.com/premium-vector/the-background-is-a-silhouette-of-the-city-of-minsk-for-a-website-or-banner_590049-31.jpg);
    background-repeat: repeat;
    background-size: 50%;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background: #000;
    display: flex;
}

.img_logo {
    margin-top: 26px;
    margin-left: 12%;
}

.header_logo {
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 24px;
    margin-top: 42px;
    margin-left: 1%;
}

nav {
    margin-top: 56px;
    margin-left: 40%;
}

.top_nav a{
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: bold;
}

main {
    width: 90%;
    margin: 0 auto;
}

#navigation {
    width: 20%;
    float: left;
    background: red;
    display: flex;
    flex-direction: column;
}

#info_filter {
    width: 80%;
    float: right;
    background: green;
}

#content {
    width: 80%;
    float: right;
    background: greenyellow;
}

footer {
    text-align: center;
    width: 100%;
    background: blue;
    margin: 0 auto 0 auto;
}

.footer_head {
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: white;
}

.footer_our_name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    margin: 5pt auto 0 auto;
}

.under_footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    background: darkblue;
    font-weight: bold;
}

.hotelBtn {
    font-family: "Roboto", sans-serif;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    background-color: red;
    font-size: medium;
}

#clear {
    clear: both;
}